---
import RootLayout from "../../layouts/RootLayout.astro";
import DeadCenter from "../../components/layout/DeadCenter.astro";
---

<RootLayout titlePrefix="Resume" description={"Resume - Vivek Raman"}>
  <DeadCenter>
    <button style="margin-bottom: 10px;">Download</button>
    <iframe
      src="https://tgq565ix1n.ufs.sh/f/ck6yA5hy4GoxXRSL1iEGQvom5pbZYqM3fczd6a7xjLR1Tge8"
      frameborder="0"
      style="overflow: hidden; width: 100%; height: 735px; max-height: 85vh;"
      title="Vivek Raman - Resume"></iframe>
  </DeadCenter>
</RootLayout>
