---
import RootLayout from "../../layouts/RootLayout.astro";
import DeadCenter from "../../components/layout/DeadCenter.astro";

const RESUME_URL = "https://tgq565ix1n.ufs.sh/f/ck6yA5hy4Goxyd5MKYtn1eZ92DgslqpB5GSNW80fUPn74oxj";
---

<RootLayout titlePrefix="Resume" description={"Resume - Vivek Raman"}>
  <DeadCenter>
    <a href={RESUME_URL} target="_blank" rel="noopener noreferrer"> Download </a>
    <iframe
      src={RESUME_URL}
      frameborder="0"
      style="overflow: hidden; width: 100%; height: 735px; max-height: 85vh;"
      title="Vivek Raman - Resume"></iframe>
  </DeadCenter>
</RootLayout>
