<div class="dead-center">
  <slot />
</div>

<style>
  .dead-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 2rem;
  }
</style>
