<hr style="margin-top: 4rem;" />
<footer>
  <div>
    Website template by <a
      href="https://github.com/cassidoo/blahg"
      style="text-decoration-thickness: 1px;"
      target="_blank">cassidoo</a
    ><sup>&copy;</sup>
  </div>
  <style>
    footer {
      padding: 25px;
      text-align: center;
      font-size: 0.6rem;
    }
  </style>
</footer>
