---
import { SITE_DESCRIPTION, SITE_TITLE } from "../../config";
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <div class="header-section">
    <img
      src="https://tgq565ix1n.ufs.sh/f/ck6yA5hy4Gox85k2JoGHQ2tPrIF51UEMpxZdgGVc6LTHlNwn"
      alt="Portrait of Vivek Raman"
      id="header-image"
    />
    <div class="header-frame">
      <h1><a href="/">{SITE_TITLE}</a></h1>
      <h2>{SITE_DESCRIPTION}</h2>
    </div>
  </div>
</header>

<nav>
  <HeaderLink href="/">home</HeaderLink>
  <HeaderLink href="/about">about</HeaderLink>
  <HeaderLink href="/resume">resume</HeaderLink>
  <HeaderLink href="/blog">blog</HeaderLink>
</nav>

<style>
  h2 {
    margin: 0.5em 0;
  }
</style>
