---
import HeroPattern from "../landing/HeroPattern.astro";
import NavLink from "../NavLink.astro";
import pkg from "../../../package.json";

const version = pkg.version;
---

<footer class="landing__footer">
  <HeroPattern variant="footer" />
  <div class="landing__footer-inner">
    <NavLink href="/"> Vivek Raman</NavLink>
    <NavLink href="/">Home</NavLink>
    <NavLink href="/about/">About</NavLink>
    <NavLink href="/blog/">Blog</NavLink>
  </div>
  <div class="landing__footer-inner">
    <a href={`https://github.com/Vivek-Raman/dotdev/tree/${version}`} target="_blank">v{version}</a>

</footer>
