---
import HeroPattern from "../landing/HeroPattern.astro";
import NavLink from "../NavLink.astro";

const year = new Date().getFullYear();
---

<footer class="landing__footer">
  <HeroPattern variant="footer" />
  <div class="landing__footer-inner">
    <span>© {year} Vivek Raman</span>
    <NavLink href="/">Home</NavLink>
    <NavLink href="/about/">About</NavLink>
    <NavLink href="/blog/">Blog</NavLink>
  </div>
</footer>
