---
import TechTableContent from "../../../content/about/tech-table.mdx";
---

<div class="tech-table">
  <TechTableContent />
</div>

<style>
  .tech-table {
    font-size: smaller;
    margin-block: 2rem;
  }
</style>
