---
import { getCollection } from "astro:content";
import LandingPage from "../../content/landing-page.mdx";
import HomePosts from "../components/HomePosts.astro";
import RootLayout from "../layouts/RootLayout.astro";

const allPosts = await getCollection("posts");
const posts = allPosts.filter((post) => !post.data.hidden);
---

<RootLayout>
  <LandingPage />
  <br />

  <h3>Here's my most recent posts</h3>
  <HomePosts allPosts={posts} />
</RootLayout>
