---
const today = new Date();
---

<hr style="margin-top: 4rem;" />
<footer>
  <div>
    Website template by <a href="https://github.com/cassidoo/blahg" target="_blank">cassidoo</a>!
  </div
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
    font-size: 0.6rem;
  }
</style>
